<h3>Time Entries</h3>

<p>
<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>
</p>

<% @entries.each do |entry| %>
	<p>
		Date: <%= entry.date %> <br>
		Notes: <%= entry.notes %>
	</p>
<% end %>
