<h1>Welcome <%= @user.name %>!</h1>


<hr>


<h3>Recent activity:</h3>

<% if Entry.all.empty? %>
There are no recent entries.

<% else %>
	<% Entry.all.latest.each do |entry| %>
		<p>
			<i><strong><%= entry.user.name %></strong> spent X hours working on <strong><%= entry.project.name %></strong></i>
		</p>
	<% end %>
<% end %>

