<h1>Welcome <%= @user.name %>!</h1>
<h4>Position: <%= @user.title %></h4>


<hr>
<%= link_to "+ Add new time entry", new_entry_path %> | <%= link_to "View All", entries_path %> | Display most recent time entries here 
