<h2>Profile: <%= @user.name %></h2>

This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 
This is the show page for users 

<%#= image_tag(@user.image, style:'width:100%') %>
<%#= render partial: "form", locals: {user: @user} %>

