<h1>Clients</h1>


<% if @clients.empty? %>
	<strong>There are currently no clients saved.</strong>
<% else %>
	<ul>
	<% @user.clients.each do |client| %>
	  <li><%= link_to "#{client.name}", client_path(client) %></li>
	<% end %>
	</ul>
<% end %>

<p><%= link_to "+ Add new client", new_client_path %></p>
