<h1><%= @client.name %></h1>

Add alert for successfully added client
</br>
Show client's projects, or click to add new project for this client

<p><%= link_to "< View all clients", clients_path %></p>
