    <hr>
    <h3>Add New Project</h3>
    <form>
    <table>
      <tr>
        <td>
          Project Owner: 
        </td>
        <td>
          <select>
        <option value="Kitty">Kitty</option>
        <option value="Karl Lagerfield">Karl Lagerfeld</option>
        <option value="Coco Chanel">Coco Chanel</option>
      </select>
        </td>
      </tr>
        <td>
          Project Name: 
        </td>
        <td>
          <input id="project-name" type='text' name='name'>
        </td>
      <tr>
        <td>
          Deadline:
        </td>
        <td>
          <input id="project-deadline" type='date' name='deadline'>
        </td>
      </tr>
      <tr>
        <td>
          Status:
        </td>
        <td>
          <select>
        <option value="Just Started">Just Started</option>
        <option value="In Progress">In Progress</option>
        <option value="Almost Finished">Almost Finished</option>
        <option value="Complete">Complete</option>
          <option value="Total Failure">Total Failure</option>
        <option value="Losing Money">Losing Money</option>
      </select>
        </td>
        </tr>
    </table>
      <p><input type="submit" class="btn btn-primary btn-sm" id="project-submit" %></p>
  </form>