<h1>Your Projects</h1>

<ul>
<% @user.projects.each do |project| %>
  <li><%= link_to "#{project.name}", project_path(project) %></li>
  <% end %>
</ul>


<%= link_to "+ Add a new project", new_user_project_path(@user) %>