<h1>Your Projects</h1>

<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<ul>
  <% @user.clients.each do |client| %>
	<% client.projects.each do |project| %>
	  <li><%= link_to "#{project.name}", project_path(project) %></li>
	 <% end %>
  <% end %>
</ul>


<%= link_to "+ Add a new project", new_user_project_path(@user) %>