<h2>Current Projects</h2>

<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<hr>


<table>
	<tr>
		<th>Project Name</th>
		<th>Project Owner</th>
	</tr>
	
	  <% Project.all.each do |project| %>
	  	<tr><td><strong><%= link_to "#{project.name}", project_path(project) %></strong></td>
	  	<td><%= link_to Project.project_owner(project).name, user_path(Project.project_owner(project)) %></td></tr>
	  <% end %>
</table>

<hr>

<%= link_to "+ Add project", new_user_project_path(@user), class: "btn btn-primary btn-sm" %>
