<h1>Current Projects</h1>

<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<ul>
  <% Project.all.each do |project| %>
  	<li><%= link_to "#{project.name}", project_path(project) %> | Owner: <%= Project.project_owner(project) %></li>
  <% end %>
</ul>


<%= link_to "+ Add a new project", new_user_project_path(@user) %>