<% if flash[:notice] %>
  <font color="green"><%= flash[:notice] %></font>
<% end %>

<h1><%= @project.name %></h1>

<ul>
	<li><%= link_to "#{@project.client.name}", @client %></li>
	<li><%= @project.status %></li>
</ul>


