/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import "variables";


html, body {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  height: 100%;
  background-color: #fff;
  color: #282a2d;
  font-family: GTWalsheim,Arial,sans-serif;
  font-size: 14px;
  line-height: 18px;

}

.signup_header {
  padding-top: 50px;
  text-align: center;
}

h1 {
  font-size: 4.8rem;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 2.5rem;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding-bottom: 40px;
  position: relative;
}

footer.footer {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F8F8F8;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.form_button {
      padding:2px;
      float: center;
      width: auto;
      height: 23px;
      border:2px solid #ccc;
      background-color: #eee;
      font-size: 14px;
  }

  .field_with_errors {
  	border: 1px solid red;
  	width: 154px;
  }

 #table {
    margin: 0 0 10px;
  }

  #table th, td {
    padding: 4px;
    padding-right: 20px;
  }

.table_total {
  border-top: 2px solid #ccc;
}

/*a:link, a:active, a:visited {
    text-decoration: none;
    color: #333399;
}

a:hover {
    text-decoration: underline;
    color: #333399;
}*/


/*a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: red;
}
*/